.container {
    display: flex;                      /* Ativa o flexbox */
    justify-content: space-between;     /* Distribui o espaço 'entre' as colunas */
    align-items: center;
    width: 80vw;
    margin: 50px auto;
}

.caixa {
    width: 200px;
    height: 150px;
    background-color: rebeccapurple;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}